#progress-bar{
    margin-left: 20px;
    width: 98%;
    height: 150px;
    background-color: whitesmoke;
}

#share{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
}

#rate{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
}

#play-container{
    width: 98%;
    height: 420px;
    background-color: whitesmoke;
}